extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Nice to meet you, I'm Daniel
        p.lead.text-light
          | Your Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | Successful online marketing professional with over 10+ years of experience turned full-stack JavaScript dev.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript 
          li jQuery
          li CSS
          li HTML
          li API communication
          li Node
          li Express
          li PUG templating
          li NPM
        h6 Contact Info
        ul
          li 004-0735-388-881
          li danielstefans@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/danielstefans/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/onesoftwareengineer', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  