extend layout.pug

block content 
  article.grid-container.portfolio-intro
    a(href="/about")
        div
        img(src="https://thealpnews.com/wp-content/uploads/2016/05/look-down.png?w=640")
        h1=error.message 
        p.lead.text-light
            | all good, your fullstack developer is able to help you, just send him a quick email
        br
        h6=`${error.status} error details:`
        p.lead.text-light=error.stack

block title
    title=error.message