extend layout.pug

block content 
  article.grid-container.portfolio-intro
    a(href="/about")
        div
        h1 The page you were looking for is not available ...
        p.lead.text-light
            | but one diligent and hard-working Fullstack-JavaScript developer is, hurry up not to loose him too
        br 
        img(src="https://performancein.com/assets/uploads/img/news/2017/07/crop/shutterstock_669100669_T6jZQRA896x504.jpg.jpg")